@use "../styles/variables" as *;

.main-layout {
  min-height: 100vh;
  padding: 0;

  .sidebar-col {
    padding: 0;
  }

  .content-col {
    padding: 0;
  }

  .content {
    padding: 2rem;
    min-height: 100vh;
  }
}

